html {
  height: 100%;
}

body {
  font-family: 'Roboto';
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#editor {
  display: flex;
  flex: 1;
  overflow-y: hidden;
}

.appframe {
  flex: 1;
  border-width: 0;
  background-color: #fff;
}

.folder-name {
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  transition: background-color 0.1s;
}
.folder-name:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
.folder-name span {
  flex: 1;
}

.bold {
  font-weight: bold;
}

ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style: none;
  margin-bottom: 0.5em;
}

.tree-icon {
  margin-right: 5px;
}
.launch-icon {
  color: #ccc;
  text-decoration: none;
}
.launch-icon:hover {
  color: #9f9;
  padding-right: 5px;
}

.folder-name .ctxlist-icon {
  color: #034e6e;
  opacity: 0;
  transition: color 0.2s, opacity 0.2s;
  float: right;
  font-size: 20px;
  padding: 2px;
  margin: -2px;
}
.folder-name:hover .ctxlist-icon {
  color: #999;
  opacity: 0.8;
}
.folder-name .ctxlist-icon:hover {
  color: #999;
  opacity: 1;
  background-color: #111;
  border-radius: 5px;
}
.folder-name .delete-btn:hover {
  color: #f33;
}
.folder-name .reload-btn:hover {
  color: #66f;
}


#root-tree {
  min-width: 5em;
  display: flex; /* shows x-scrollbar */
  flex-direction: column;
  overflow: auto;
  margin: 0;
  padding: 1em;
  flex: 2;
  background-color: #333;
}

.sub-tree {
  padding-left: 0.6em;
  margin-left: 0.8em;
  border-left: 1px dashed #999;
  border-radius: 0 0 0 10px;
}

.create-entry-item .folder-name {
  color: #666;
  transition: color 0.3s;
}
.create-entry-item:hover .folder-name {
  color: inherit;
}

#run-pane {
  border-left: 1px solid #666;
  flex: 5;

  display: flex;
  flex-direction: column;
  width: 0;
}

#edit-pane {
  border-left: 1px solid #666;
  flex: 7;

  display: flex;
  flex-direction: column;
  width: 0;
}

#tab-bar {
  background-color: #222;
  border-bottom: 1px solid #444;
  height: 3em;
  display: flex;
  overflow-x: auto;
  align-items: flex-end;
  margin: 0;
  padding: 0.5em 1em 0;
  flex-shrink: 0;
}

#tab-bar li {
  background-color: #222;
  transition: background-color 0.2s;
  border-radius: 5px 5px 0 0;
  border: 1px solid #222;
  border-bottom: 0px;

  padding: 0.25em 0.5em;
  font-size: 0.9em;
  min-width: 14em;
  cursor: pointer;
  margin-right: 0.5em;

  display: flex;
}
#tab-bar li:hover {
  background-color: #444;
}
#tab-bar .label {
  flex: 1;
  margin: 0 0.5em;
}

#tab-bar .active {
  background-color: #333;
}
#tab-bar li:not(.active) {
  border-color: #333;
}

#tab-bar .close-btn {
  color: #222;
  transition: color 0.2s;
}
#tab-bar li:hover .close-btn {
  color: #999;
}
#tab-bar li .close-btn:hover {
  color: #f33;
  background-color: #111;
  border-radius: 5px;
}

#tab-bar .dirty {
  color: #9977ff;
}
#tab-bar .untouched {
  font-style: italic;
}

#tool-bar {
  display: flex;
  margin: 0;
  padding: 0;
}
#tool-bar li {
  display: flex;
  margin: 0.2em;
  padding: 0.2em;
  background-color: #333;
  border: 1px solid transparent;
}
#tool-bar li:hover {
  cursor: pointer;
  border-color: #666;
}

.panel-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #333;
  overflow-y: hidden;
}
.form-panel {
  padding: 1em;
  display: flex;
  flex-direction: column;
  max-width: 30em;
}
.form-row {
  display: flex;
  flex-shrink: 0;
  margin: 0.5em 0;
  align-items: center;
}
h3.form-row {
  margin: 0;
  font-size: 2em;
  font-weight: normal;
  text-transform: lowercase;
  border-bottom: 2px solid #666;
  color: #999;
  margin-bottom: 1em;
}
.form-row span {
  flex-basis: 5em;
}
.form-row [readonly] {
  color: #999;
}
.form-row input, .form-row select, .form-row button {
  padding: 0.5em 1em;
  background-color: #222;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 1.2em;
  color: #eee;
  flex: 1;
}
.form-row input, .form-row select {
  margin-left: 1em;
}
.form-row:hover input, .form-row:hover select, .form-row button:hover {
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.2);
  border-color: #ccc;
  background-color: #444;
}
form p {
  margin: 0;
}
.func-output {
  overflow: auto;
  margin: 0;
  padding: 1em;
  flex: 1;
}

.panel-parent .CodeMirror {
  flex: 1;
  font-family: 'Fira Code', monospace;
  /*font-variant-ligatures: contextual;*/
}

.editor-toolbar {
  display: flex;
  font-size: 0.9em;
}
.editor-toolbar .button-group {
  margin: 0 0.5em;
  border-left: 1px solid #444;
}
.editor-toolbar .button-group button {
  background: none;
  border: 0px solid #444;
  color: #ddd;
  padding: 0.3em 0.5em;
  border-right-width: 1px;
}
.editor-toolbar .button-group button:hover {
  color: #fff;
  border-color: #999;
  background-color: rgba(255, 255, 255, 0.2);
  border-left-width: 1px;
  margin-left: -1px;
  cursor: pointer;
}
.editor-toolbar .input-group {
  margin: 0 0.3em;
  display: flex;
}
.editor-toolbar .input-group:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.editor-toolbar .input-group:hover * {
  color: #fff;
}
.editor-toolbar .label-text {
  align-self: center;
  padding: 0 0.5em;
  color: #888;
}
.editor-toolbar [type=text] {
  background-color: transparent;
  border: 1px solid #555;
  border-width: 0 1px 0 1px;
  color: #ccc;
  padding: 0 0.5em;
  font-size: 1em;
  align-self: stretch;
}
